<figure class="section--hero">
  <ul class="hero--slider slider welcome--slider">
    <li class="slider--slide" style="background-image: url('assets/img/bishops-place-albany-avenue-apartment-kitchen-and-living-room.jpg');"></li>
  </ul>
</figure>
<h2 class="section--heading">Welcome to Biships Place</h2>
<p class="section--paragraph">Integer elementum massa at nulla placerat varius. Suspendisse in libero risus, in interdum massa. Vestibulum ac leo vitae metus faucibus gravida ac in neque. Nullam est eros, suscipit sed dictum quis, accumsan a ligula. In sit amet justo lectus. Etiam feugiat dolor ac elit suscipit in elementum orci fringilla. Aliquam in felis eros. Praesent hendrerit lectus sit amet turpis tempus hendrerit. Donec laoreet volutpat molestie. Praesent tempus dictum nibh ac ullamcorper. Sed eu consequat nisi. Quisque ligula metus, tristique eget euismod at, ullamcorper et nibh.</p>
