<figure class="section--hero carousel" id="about-header">
  <div class="carousel--wrapper">
    <ul class="carousel--track">
      <li class="carousel--slide" style="background-image: url('assets/img/carousel/man_with_tablet.jpg');background-position: top left;"></li>
      <li class="carousel--slide" style="background-image: url('assets/img/carousel/rendering-exterior.jpg'); background-position-y: 0%;"></li>
      <li class="carousel--slide" style="background-image: url('assets/img/carousel/friends_toasting.jpg');"></li>
      <li class="carousel--slide" style="background-image: url('assets/img/carousel/rendering-living_room.jpg');"></li>
      <li class="carousel--slide" style="background-image: url('assets/img/carousel/rendering-kitchen.jpg');"></li>
      <li class="carousel--slide" style="background-image: url('assets/img/carousel/rendering-bathroom.jpg');background-position-y: 30%;"></li>
    </ul>
  </div>
  <div class="carousel--bullets"></div>
</figure>
    <h2 class="section--heading">Welcome to Bishops Place</h2>
    <p class="section--paragraph">Bishops Place, a boutique apartment community surrounded by some of West Hartford’s most desirable neighborhoods, defines a new way of living. In our one-of-a-kind community you’ll find uniquely designed studio, one-, and two-bedroom apartment homes where no detail has been missed. Each unit boasts a spacious floor plan, large Andersen® windows, and a gourmet kitchen featuring stainless steel appliances, granite countertops, and a quartz-stone island. Start your day in our state-of-the-art fitness center with yoga room or with a hot cup of coffee or tea in our very own Bishops Cafe. Barbecue with your friends, gather around the fireplace in our beautifully landscaped courtyard or take in the outdoors from our rooftop deck.</p>
    <p class="section--paragraph">Bishops Place is near every imaginable convenience in Bishops Corner and the shops, restaurants, and entertainment options of vibrant West Hartford Center and Blue Back Square. Bishops Place is also minutes from several public and private schools, universities, senior centers, cultural organizations, and multiple parks. When you choose Bishops Place as your next home, you choose convenient living and modern style.</p>
    <ul class="type-list">
      <li class="type-list__item has-bullet">Custom built-in wine racks</li><br/>
      <li class="type-list__item has-bullet">Tiled soaking tubs and showers</li><br/>
      <li class="type-list__item has-bullet">Front loading washer/dryer in every unit</li><br/>
      <li class="type-list__item has-bullet">High ceilings</li><br/>
      <li class="type-list__item has-bullet">Luxe plank flooring</li><br/>
      <li class="type-list__item has-bullet">Security systems in every unit</li><br/>
    </ul>