<figure class="section--hero hero hero_simplex has-caption" style="background-image: url('assets/img/hero-exterior_rendering.jpg');">
  <figcaption class="hero--caption" id="amenities-hero-caption">It's all within your reach.</figcaption>
</figure>
<div class="amenities-gallery gallery">
  <ul class="gallery__track">
    {% for amenity in amenities | selectattr('featured') %}
      <li class="gallery__item">
        <div class="amenity-card" style="background-image: url('assets/img/amenity-{{ amenity.title | filename }}.jpg');">
          <span class="amenity-card__title">{{ amenity.title }}</span>
          <div class="amenity-card__caption"><p>{{ amenity.caption }}</p></div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
<h2 class="section--heading">Luxe Amenities</h2>
<div class="section--type">
  <ul class="type-list">
    {% for amenity in amenities | rejectattr('featured') %}
      <li class="type-list__item has-bullet">{{ amenity.caption }}</li><br/>
    {% endfor %}
  </ul>
</div>
