<h2 class="section--heading">
  <span class="heading-scryer" data-scry="#contact"></span><br/>
  Contact
</h2>

<form class="contact-form" novalidate>
  <div class="contact-form__wrapper">
    <h2 class="contact-form__heading">Interested <small>in</small> living here?</h2>
    <label class="contact-form__field field">
      <!-- <span class="field__label">Name</span> -->
      <input type="text" class="field__input" id="contact-name" name="name" placeholder="name" required>
    </label>
    <label class="contact-form__field field">
      <!-- <span class="field__label">Phone</span> -->
      <input type="tel" class="field__input" id="contact-phone" name="phone" placeholder="phone" data-pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" required>
    </label>
    <label class="contact-form__field field">
      <!-- <span class="field__label">Email</span> -->
      <input type="email" class="field__input" id="contact-email" name="email" placeholder="email" data-pattern="[a-zA-Z0-9_.+\-]+@[a-zA-Z0-9-.]+$" required>
    </label>
    <select class="field noval" name="movein" id="movein">
                  <option value="" disabled selected>Move-In Date</option>
                  <option value="not-sure">Not sure</option>
               </select>
               <fieldset id="apttype">
                 <label>
                   <input type="checkbox" name="apttype[]" id="apt-type-studio" value="studio" class="field">
                   <span class="label noval">Studio</span>
                   <a class="checkbox"></a>
                 </label>
                 <label>
                   <input type="checkbox" name="apttype[]" id="apt-type-1br" value="1br" class="field">
                   <span class="label noval">1 Bedroom</span>
                   <a class="checkbox"></a>
                 </label>
                 <label>
                   <input type="checkbox" name="apttype[]" id="apt-type-2br" value="2br" class="field">
                   <span class="label noval">2 Bedroom</span>
                   <a class="checkbox"></a>
                 </label>
               </fieldset>
    <label class="contact-form__field field">
      <!-- <span class="field__label">Message</span> -->
      <textarea class="field__input input--textarea" id="contact-message" name="message" placeholder="Message"></textarea>
    </label>
    <input type="submit" class="contact-form__submit" value="submit">
  </div>
</form>

