<h2 class="section--heading">
  <span class="heading-scryer" data-scry="#contact"></span><br/>
  Contact
</h2>

<form class="contactForm" novalidate>
  <div class="contactForm__wrapper">
    <h2 class="contactForm__heading">Interested <small>in</small> living here?</h2>
    <label class="contactForm__field">
      <!--[if IE 9]><span class="contactForm__label">Name</span><![endif]-->
      <input class="contactForm__input" id="contact--name" name="name" placeholder="Name" required>
    </label>
    <label class="contactForm__field">
      <!--[if IE 9]><span class="contactForm__label">Phone</span><![endif]-->
      <input type="tel" class="contactForm__input" id="contact--phone" name="phone" placeholder="Phone" data-pattern="phone" required>
    </label>
    <label class="contactForm__field">
      <!--[if IE 9]><span class="contactForm__label">Email</span><![endif]-->
      <input type="email" class="contactForm__input" id="contact--email" name="email" placeholder="Email" data-pattern="email" required>
    </label>
    <label class="contactForm__field contactForm__field--select contactForm__field--inline">
      <select class="contactForm__input contactForm__input--select" name="Move-In Date" id="contact--movein">
        <option disabled selected>Move-In Date</option>
        <option value="Not Sure">Not sure</option>
      </select>
    </label>
    <fieldset class="contactForm__fieldset contactForm__fieldset--inline" id="contact--type" data-required=">=1">
      <label class="contactForm__field contactForm__field--inline">
        <input type="checkbox" class="contactForm__input contactForm__input--checkbox" name="Apartment_Type[]" value="Studio" data-fieldset="contact--type" id="contact--type_0br">
        <button type="button" class="contactForm__checkbox"></button>
        <span class="contactForm__label contactForm__label--inline">Studio</span>
      </label>
      <label class="contactForm__field contactForm__field--inline">
        <input type="checkbox" class="contactForm__input contactForm__input--checkbox" name="Apartment_Type[]" value="1 Bedroom" data-fieldset="contact--type" id="contact--type_0br">
        <button type="button" class="contactForm__checkbox"></button>
        <span class="contactForm__label contactForm__label--inline">1 Bedroom</span>
      </label>
      <label class="contactForm__field contactForm__field--inline">
        <input type="checkbox" class="contactForm__input contactForm__input--checkbox" name="Apartment_Type[]" value="2 Bedroom" data-fieldset="contact--type" id="contact--type_0br">
        <button type="button" class="contactForm__checkbox"></button>
        <span class="contactForm__label contactForm__label--inline">2 Bedroom</span>
      </label>
    </fieldset>
    <label class="contactForm__field">
      <!--[if IE 9]><span class="contactForm__label">Message</span><![endif]-->
      <textarea class="contactForm__input contactForm__input--textarea" id="contact--message" name="message" placeholder="Message"></textarea>
    </label>
    <input type="submit" class="contactForm__submit" value="submit">
  </div>
</form>

