<h2 class="section--heading has-arrow">Floor Plans</h2>
<figure class="section--hero hero_simplex" style="background-image: url('assets/img/hero-kitchen_expose.jpg');"></figure>
<div class="floorplansTable">
  <form class="floorplansTable--options">
    <label class="floorplansTable--option"><span>Studio</span><input type="checkbox" name="floorplans" value="0br"></label>
    <label class="floorplansTable--option"><span>One Bedroom</span><input type="checkbox" name="floorplans" value="1br"></label>
    <label class="floorplansTable--option"><span>Two Bedroom</span><input type="checkbox" name="floorplans" value="2br"></label>
  </form>
</div>

