<h2 class="section--heading has-arrow">Floor Plans</h2>
<figure class="section--hero hero_simplex" style="background-image: url('assets/img/hero-kitchen_expose.jpg');"></figure>
<div class="floorplansTable">
  <form class="floorplansTable--options">
    <label class="floorplansTable--option"><input type="checkbox" name="floorplans" value="0br"><div><span>Studio</span></div></label>
    <label class="floorplansTable--option"><input type="checkbox" name="floorplans" value="1br"><div><span>One </br>Bedroom</span></div></label>
    <label class="floorplansTable--option"><input type="checkbox" name="floorplans" value="2br"><div><span>Two </br>Bedroom</span></div></label>
  </form>
  <div class="floorplansTable--table table">
    <div class="table--row row_head">
      <div class="table--cell cell_head column col-1">Residence</div>
      <div class="table--cell cell_head column col-2">Bedrooms</div>
      <div class="table--cell cell_head column col-3">Bathroom</div>
      <div class="table--cell cell_head column col-4">Sq<i>uare</i> F<i>ee</i>t</div>
    </div>
    {% for appt in apartments %}
    <div class="table--row row_body" data-br="{{ appt.bedrooms }}" data-ba="{{ appt.bathrooms }}" data-sqft="{{ appt.squareft }}">
      <div class="table--cell cell_body column col-1">{{ appt.residence }}</div>
      <div class="table--cell cell_body column col-2">{{ appt.bedrooms | beword }}</div>
      <div class="table--cell cell_body column col-3">{{ appt.bathrooms | beword }}</div>
      <div class="table--cell cell_body column col-4">{{ appt.squareft }}</div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- <div class="floorplan-modal">
  <div class="floorplan-modal__content">
    <div class="floorplan-modal__inner">
      <ul class="floorplan-modal__details">
        <li class="floorplan-modal__detail"><span>Two Bedrooms</span></li>
        <li class="floorplan-modal__detail"><span>Two Baths</span></li>
        <li class="floorplan-modal__detail"><span>1,188 Sq. Ft.</span></li>
      </ul>
      <figure class="floorplan-modal__figure">
        <img src="assets/img/floorplan-2br-2ba-1188.svg" alt="2br | 2ba | 1188 sq.ft.">
      </figure>
      <a class="floorplan-modal__download" href="#" target="_blank">Download PDF</a>
      <p class="floorplan-modal__disclaimer">These floor plans are intended for illustrative purposes only and are not to scale; square foot measurements and dimensions are approximate and configurations may vary from unit to unit.</p>
      <a class="floorplan-modal__close">X</a>
      <ul class="floorplan-modal__icons">
        <li class="floorplan-modal__icon"><img src="" alt=""></li>
        <li class="floorplan-modal__icon"><img src="" alt=""></li>
      </ul>
    </div>
  </div>
</div> -->

