<h2 class="section--heading has-arrow">Gallery</h2>
<div class="gallery gallery--biplex">
  <ul class="gallery__track">
    <li class="gallery__item" style="background-image: url(assets/img/gallery-courtyard_trees.png);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/gallery-mason_candles.png);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/hero-stroll_in_park.jpg);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/hero-kitchen_expose.jpg);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/hero-exterior_rendering.jpg);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/amenity-fitness_center.jpg);"></li>
  </ul>
</div>
