<h2 class="section--heading has-arrow">Gallery</h2>
<div class="gallery gallery--biplex" id="gallery-header">
  <ul class="gallery__track">
    <li class="gallery__item" style="background-image: url(assets/img/gallery-cycling.jpg);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/gallery-farmers_market.jpg);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/gallery-five_guys.jpg);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/gallery-whole_foods.jpg);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/gallery-west_hartford_sign.jpg);"></li>
    <li class="gallery__item" style="background-image: url(assets/img/gallery-blue_black_square.jpg);"></li>
  </ul>
</div>
