<figure class="section--hero hero_simplex" style="background-image: url('assets/img/hero-stroll_in_park.jpg');"></figure>
<h2 class="section--heading">Neighborhood</h2>
<div class="neighborhood-map">
  <div class="neighborhood-map__interface">
    <form class="neighborhood-map__options" novalidate>
      <label class="neighborhood-map__option" id="option-all">
        <input type="checkbox" name="categories" val="all">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Show All</span>
      </label>
      <label class="neighborhood-map__option" id="option-restaurants">
        <input type="checkbox" name="categories" val="restaurants">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Restaurants &amp; Bars</span>
      </label>
      <label class="neighborhood-map__option" id="option-entertainment">
        <input type="checkbox" name="categories" val="entertainment">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Entertainment</span>
      </label>
      <label class="neighborhood-map__option" id="option-precreation">
        <input type="checkbox" name="categories" val="precreation">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Parks &amp; Recreation</span>
      </label>
      <label class="neighborhood-map__option" id="option-shopping">
        <input type="checkbox" name="categories" val="shopping">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Shopping</span>
      </label>
      <label class="neighborhood-map__option" id="option-salons">
        <input type="checkbox" name="categories" val="salons">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Salons</span>
      </label>
      <label class="neighborhood-map__option" id="option-institutions">
        <input type="checkbox" name="categories" val="institutions">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Institutions</span>
      </label>
      <label class="neighborhood-map__option" id="option-groceries">
        <input type="checkbox" name="categories" val="groceries">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Groceries</span>
      </label>
      <label class="neighborhood-map__option" id="option-services">
        <input type="checkbox" name="categories" val="services">
        <!-- <span class="neighborhood-map__option-icon"></span> -->
        <span class="neighborhood-map__option-text">Services</span>
      </label>
    </form>
  </div>
  <div class="neighborhood-map__canvas" id="map-canvas"></div>
</div>
