<figure class="section--hero hero_simplex" style="background-image: url('assets/img/hero-stroll_in_park.jpg');"></figure>
<h2 class="section--heading">Neighborhood</h2>
<div class="neighborhood-map">
  <div class="neighborhood-map__interface">
    <form class="neighborhood-map__options" novalidate>
      {% set categories = ['show all','restaurants & bars','entertainment','parks & recreation','shopping','salons','institutions','groceries','services'] %}
      {% for category in categories %}
        <label class="neighborhood-map__option" id="option-{{ category | replace(' & ', '_') | replace(' ', '_') }}">
          <input type="checkbox" name="categories" val="{{ category | replace(' & ', '_') | replace(' ', '_') }}">
          <span class="neighborhood-map__option-text">{{ category | title }}</span>
        </label>
      {% endfor %}
    </form>
  </div>
  <div class="neighborhood-map__canvas" id="map-canvas"></div>
</div>
