<figure class="section--hero hero_simplex" id="neighborhood-header" style="background-image: url('assets/img/hero-stroll_in_park.jpg');"></figure>
<h2 class="section--heading">Neighborhood</h2>
<div class="neighborhood-map">
  <nav class="mapInterface" novalidate>
    <ul class="mapInterface__categories">
    {% for category in attractions | collect('categories') %}
      {% if category != 'home' %}
        <li class="mapInterface__category">
          <a class="category__label" data-category="{{ category }}">
            <span class="category__icon" style="background-image: url('assets/img/map/icon-{{ category | filename }}.svg');"></span>
            <span class="category__name">{{ category | replace('/', ' & ') | title }}</span>
          </a>
          <div class="category__matches">
            <ul class="category__matchesInner">
              {% for match in attractions | query('categories', 'contains', category) %}
                <li class="category__match" data-latlng="{{ match.lat }},{{ match.lng }}" data-name="{{ match.name }}">{{ match.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
  <div class="neighborhood-map__canvas" id="map-canvas"></div>
</div>
<div class="section--type type_spaced">
  <ul class="type-list">
    <li class="type-list__item has-bullet">Walking distance to Bishops Corner shops such as Starbucks<sup>&#174;</sup>, <br/>Whole Foods<sup>&#174;</sup>, Big Y<sup>&#174;</sup>, and Walgreens<sup>&#174;</sup></li><br/>
    <li class="type-list__item has-bullet">Less than 5 minutes from West Hartford Center and Blue Back Square</li><br/>
    <li class="type-list__item has-bullet">CT Transit stop conveniently located in front of community</li><br/>
    <li class="type-list__item has-bullet">Ideally located near the West Hartford Reservoir which offers 2,000 acres of green space with hiking/mountain biking trails</li><br/>
    <li class="type-list__item has-bullet">Located near the newly developed bike lane on King Philip Drive</li><br/>
    <li class="type-list__item has-bullet">Within close proximity to the Jewish Community Center</li><br/>
    <li class="type-list__item has-bullet">Minutes from downtown Hartford, the UCONN Health Center in Farmington, and West Farms Mall</li><br/>
  </ul>
</div>
