html {
-webkit-font-smoothing: subpixel-antialiased;
  font-family: $sans-serif;
  color: $gray;
}
body.is-locked {
  overflow: hidden;
}

/*============================
    Basic Page Layouting
============================*/

.page {
  background-image: url(../img/tile-bishops-b.gif);
  background-size: 75px;
  background-repeat: repeat;
}
.page--wrapper {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
  z-index: 1;
}
.page--content {
  background-color: white;
  z-index: 1;
}
.page--navbar {}
.constrained {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

/*============================
    Sectioning for Page
============================*/

.section {}
.section--hero {
  height: 100vw;
  max-height: 600px;
}
.section--hero.hero_simplex {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section--hero.hero_carousel {}

.page-footer {
  @extend %bishops-pattern;
  padding: 50px 25px 15px;
  position: relative;
  text-align: left;
  background-color: $gray;
  background-image: url('../img/tile-bishops-b-dark.gif');
  background-size: 75px;
  & * {
    letter-spacing: 1px;
  }
}
.page-footer__heading {
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $serif;
}
.page-footer__list-heading {
    text-transform: uppercase;
    letter-spacing: 2px !important;
    font-family: $serif;
    font-size: .8em !important;
    line-height: 2em !important;
}
.page-footer__contact, .page-footer__address {
  margin-top: 6px;
  color: #ffffff;
  float: left;
  padding: 20px 60px 30px 0;
  li {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4em;
    letter-spacing: 0.5px;
    vertical-align: middle;
  }
  @media (max-width:480px) {
    padding: 20px 0px 20px 0;
  }
}
.page-footer__legal {
  color: #ffffff;
  font-size: 0.65em;
  padding-right: 15px;
  @media (max-width:640px) {
    padding-bottom: 20px;
    display: inline-block;
  }
}
.page-footer__eho {
  height: 15px;
  float: right
}
.page-footer__attribution {
  display: inline-block;
  position: relative;
  width: 100%;

  a {
    color: #ffffff;
    font-family: $sans-serif;
    font-size: 0.60rem;
    font-weight: 300;
    letter-spacing: 2px !important;
    text-transform: uppercase;
      @media (max-width:640px) {
        display: inline-block;
        clear: both;
      }
   }
}