html {
  -webkit-font-smoothing: antialiased;
  font-family: $sans-serif;
  color: $gray;
}
body.is-locked {
  overflow: hidden;
}

/*============================
    Basic Page Layouting
============================*/

.page {
  background-image: url(../img/tile-bishops-b.gif);
  background-size: 75px;
  background-repeat: repeat;
}
.page--wrapper {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
}
.page--content {
  background-color: white;
}
.page--navbar {}
.page--footer {}
.constrained {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

/*============================
    Sectioning for Page
============================*/

.section {}
.section--hero {
  height: 100vw;
  max-height: 600px;
}
.section--hero.hero_simplex {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section--hero.hero_carousel {}

.section--heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 30px 0;
  font-size: 20px;
  font-weight: $bold;
}
.section--heading.has-arrow {
  &:before {
    content: url("../img/graphic-down_arrow.svg");
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
}
.section--paragraph {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding: 0 15px;
  letter-spacing: 1px;
  max-width: 800px;
  margin: auto;
}
