html {
-webkit-font-smoothing: subpixel-antialiased;
  font-family: $sans-serif;
  color: $gray;
}
body.is-locked {
  overflow: hidden;
}

/*============================
    Basic Page Layouting
============================*/

.page {
  background-image: url(../img/tile-bishops-b.gif);
  background-size: 75px;
  background-repeat: repeat;
}
.page--wrapper {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
}
.page--content {
  background-color: white;
  z-index: 1;
}
.page--navbar {}
.constrained {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}

/*============================
    Sectioning for Page
============================*/

.section {}
.section--hero {
  height: 100vw;
  max-height: 600px;
}
.section--hero.hero_simplex {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section--hero.hero_carousel {}

.page-footer {
  @extend %bishops-pattern;
  padding: 50px 25px;
  position: relative;
  text-align: center;
  background-color: $gray;
  background-image: url('../img/tile-bishops-b-dark.gif');
  background-size: 75px;
  & * {
    letter-spacing: 1px;
  }
}
.page-footer__heading {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}
.page-footer__contact {
  margin-top: 6px;
  color: #ffffff;
  li {
    display: block;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
    vertical-align: middle;
  }
  small {
    display: inline-block;
    font-size: 0.6em;
    vertical-align: middle;
  }
}
.page-footer__legal {
  display: inline-block;
  margin-top: 10px;
  color: #ffffff;
  font-size: 0.65em;
}
.page-footer__eho {
  display: block;
  height: 20px;
  margin: 20px auto 0;
}
.page-footer__attribution {
  display: inline-block;
  position: absolute;
  bottom: 10px;left: 10px;
  a {
    color: #ffffff;
    font-family: $sans-serif;
    font-size: 0.70rem;
    font-weight: 300;
    letter-spacing: 1px !important;
    text-transform: uppercase;
  }
}
