.navbar {
  position: fixed;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 5;
  * { white-space: nowrap; }
  @media (max-width:768px) {
    display: none;
  }
}
.navbar--nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 0;
  @media (max-width:768px) {
    display: none;
  }
}
.navbar--nav:before {
  content: '';
  height: 40px;
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  background-color: white;
}
.nav--item {
  cursor: pointer;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  width: calc((100% - 180px) / 6);
  background-color: rgba($gray, 0.1);
  border-left: none;
  border-right: none;
  font-size: 1rem;
}
.nav--link {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: .025rem;
  line-height: 40px;
  text-transform: uppercase;
    @media (min-width:769px) and (max-width: 900px) {
        font-size: .7em;
        font-weight: 400;
    }
}

.navbar--brand {
  height: auto;
  padding: 20px;
  position: relative;
  top: 0;
  width: 180px;
  background-color: rgba($gray, 0.1);
  transition: all 0.5s;
  &:before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    z-index: -1;
    background-color: white;
  }
  img {
    height: auto;
    width: 100%;
    z-index: 1;
  }
}

/* Animated Nav */

.ha-header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1160px;
  padding: 0;
  z-index: 50;
  transition: all 500ms;
  overflow: hidden;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}

.navbar.is-top {
	height: 150px;
}

.navbar.not-top {
	height: 40px;
}

.navbar.not-top .navbar--brand   {
    padding: 52px;
    top: 17px;
	transition: all 0.5s;
}
