.section--heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 600;
}
.section--heading.has-arrow {
  &:before {
    content: url("../img/graphic-down_arrow.svg");
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
}
.section--paragraph {
  margin: auto;
  max-width: 800px;
  padding: 0 15px;
  width: 85%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
}
.section--type {
  padding: 0 20%;
  text-align: center;
}
.section--type.type_spaced {
  padding-top: 40px;
}
.type-list {
  display: inline-block;
}
.type-list__item {
  display: inline-block;
  position: relative;
  text-align: center;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.type-list__item.has-bullet{
  &:before {
    $size: 8px;
    content: '';
    display: block;
    height: $size;
    margin: 10px auto;
    position: relative;
    width: $size;
    background-color: $blue;
    // font-size: 1.75em;
    // line-height: 0.70em;
  }
}

/* mobile finessing */
@media (max-width: 768px) {
    .section--paragraph {
        text-align: left;
    }

  .floorplansTable--option span {
  font-size: .85rem !important;
  line-height: 1.5em;
  }
  .table--cell.cell_head {
    font-size: .8rem !important;
  }
    .amenity-card__caption {
    height: auto !important;
    padding: 10px 0;
    font-size: .875em;
  }
}