.section--heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 600;
}
.heading-scryer {
  cursor: pointer;
  display: inline-block;
  padding: 0 20px;
  &:before {
    content: url("../img/graphic-down_arrow.svg");
    display: block;
    margin-bottom: 10px;
    position: relative;
  }
}
.section--paragraph {
  margin: 0 auto 20px;
  max-width: 850px;
  padding: 0 15px;
  width: 82.5%;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: justify;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.section--type {
  padding: 0 25%;
  text-align: center;
}
.section--type.type_spaced {
  padding-top: 40px;
}
.type-list {
  display: inline-block;
}
.type-list__item {
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.25px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.type-list__item.has-bullet {
  &:before {
    $size: 6px;
    content: '';
    display: block;
    height: $size;
    margin: 10px auto;
    position: relative;
    width: $size;
    background-color: $blue;
    font-weight: 300;
  }
}

/* mobile finessing */
@media (max-width: 768px) {
    .section--paragraph {
        text-align: left;
    }

  .floorplansTable--option span {
  font-size: .85rem !important;
  line-height: 1.5em;
  }
  .table--cell.cell_head {
    font-size: .8rem !important;
  }
    .amenity-card__caption {
    height: auto !important;
    padding: 10px 0;
    font-size: .875em;
  }
}
sup {
  font-size: 0.6rem;
  font-weight: 100;
}

#about .type-list {
  display: block;
  margin: 5px auto 0;
  text-align: center;

}
