$white:      #ffffff;
$gray:       #85868A;
$blue:       #70C7D6;
// $blue:       #71CEDE;
$clearwhite: rgba(255,255,255,0.2);

$sans-serif: 'Open Sans', arial, sans-serif;
$serif: 'Libre Baskerville', serif;
$bold: 800;

$max-width: 1160px;
