.amenities-gallery {}
.gallery__track {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 0;
}
.gallery__item {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  @media (min-width: 600px) {
    width: calc((100%/2) - 6px);
  }
  @media (min-width: 1000px) {
    margin-bottom: 0;
    width: calc((100%/4) - 6px);
  }
}

.amenity-card {
  height: 0;
  overflow: hidden;
  padding-bottom: calc(100% * (1.7896/3.1021));
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $sans-serif;
  &:hover {
    .amenity-card__title {
      opacity: 0;
    }
    .amenity-card__caption {
      transform: translateY(0);
    }
  }
}
.amenity-card__title {
  display: block;
  padding: 6px 10px;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  background-color: rgba($blue, 0.8);
  color: $white;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: opacity 200ms ease;
}
.amenity-card__caption {
  @extend %valign-text;
  background-color: rgba($blue, 0.9);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;left: 0;
  transform: translateY(-100%);
  transition: transform 300ms ease-in-out;
  width: 100%;
  opacity: 1;
  text-align: center;
  p, span {
    width: 80%;
    color: $white;
    font-size: 0.90em;
    font-weight: 500;
    letter-spacing: 0.50px;
    line-height: 1.5em;
  }
}
