.contactForm {
  padding-bottom: 80px;
  background-color: rgba($gray, 0.2);
  background-image: url('../img/tile-bishops-b-gray.gif');
  background-size: 75px;
  font-size: 0;
}
.contactForm__wrapper {
  margin: 0 auto;
  max-width: 90%;
  width: 500px;
}
.contactForm__heading {
  padding: 30px;
  color: rgba($gray, 0.9);
  font-family: $serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  small {
    font-size: 0.6em;
    vertical-align: middle;
  }
}
.contactForm__submit {
  display: block;
  height: 40px;
  margin: 0 auto;
  padding: 5px 60px;
  width: auto;
  background: $blue;
  border: none;
  color: #ffffff;
  outline: none;
  font-size: 1rem;
  border: 1px solid $blue;
  box-shadow: none;
  letter-spacing: 1px;
  transition: all 200ms ease-out;
  text-transform: uppercase;
  &:hover {
    background-color: #ffffff;
    color: $blue;
  }
}

.contactForm__fieldset {
  border: none;
  outline: none;
}
.contactForm__fieldset--inline {
  display: inline-block;
}

.contactForm__field {
  display: block;
  margin-bottom: 20px;
  font-size: 1rem;
}
.contactForm__field--inline {
  display: inline-block;
  input { width: auto; }
}
.contactForm__field--select {
  height: 40px;
  width: 160px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  color: $gray;
}

.contactForm__field[data-error]:after {
  content: "* " attr(data-error);
  display: block;
  margin-top: 5px;
  position: relative;
  color: rgba($gray, 0.75);
  font-size: 0.8em;
}

.contactForm__input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 0.8em;
  outline: none;
}
.contactForm__input--checkbox {
  display: none;
}
.contactForm__input--select {
  height: 100%;
  padding: 0 5px;
  width: 100%;
  background: transparent;
  border: none;
  outline: non;
}
.contactForm__input--textarea {
  max-width: 100%;
  min-height: 120px;
  padding: 10px;
}

.contactForm__input::-webkit-input-placeholder { text-transform: uppercase; }
.contactForm__input::-moz-placeholder { text-transform: uppercase; }
.contactForm__input:-moz-placeholder { text-transform: uppercase; }
.contactForm__input:-ms-input-placeholder { text-transform: uppercase; }

.contactForm__label {
  display: block;
  height: 100%;
  vertical-align: middle;
  color: $gray;
  font: $serif;
  font-size: 1.00em;
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: 35px;
  text-transform: uppercase;
}
.contactForm__label--inline {
  display: inline-block;
  font-size: 0.8em;
  text-transform: none;
}

.contactForm__checkbox {
  display: inline-block;
  height: 20px;
  margin-left: 15px;
  position: relative;
  vertical-align: middle;
  width: 20px;
  background: #ffffff;
  border-radius: 100%;
  border: 1px solid $gray;
  outline: none;
}
input[checked] ~ .contactForm__checkbox::before {
  box-sizing: border-box;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  background-color: $blue;
  border: 3px solid #ffffff;
  border-radius: 50px;
}

.contactForm__response {
  display: inline-block;
  margin: 0 auto;
  padding-top: 80px;
  font-family: $serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.35em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
