.contact-form {
  display: block;
  margin: 0 auto;
  padding: 0 0 80px;
  text-align: center;
  width: 100%;
  background-color: rgba($gray, 0.2);
  background-image: url('../img/tile-bishops-b-gray.gif');
  background-size: 60px;
}
.contact-form.is-closed {
  display: none;
}
.contact-form__wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 90%;
  width: 500px;
}
.contact-form__heading {
  padding: 30px;
  color: rgba($gray, 0.9);
  font-family: $serif;
  font-size: 1.75em;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba($gray, 0.2);
  background-image: url('../img/tile-bishops-b-gray.gif');
  background-size: 60px;
  small {
    font-size: 0.6em;
    vertical-align: middle;
  }
}
.contact-form__field {
  display: block;
  height: auto;
  padding-bottom: 20px;
  text-align: left;
}
.contact-form__submit {
  display: block;
  height: 40px;
  margin: 0 auto;
  padding: 5px 60px;
  width: auto;
  background: $blue;
  border: none;
  color: #ffffff;
  outline: none;
  border: 1px solid $blue;
  box-shadow: none;
  letter-spacing: 1px;
  transition: all 200ms ease-out;
  text-transform: uppercase;
  &:hover {
    background-color: #ffffff;
    color: $blue;
  }
}

.field {}
.field[data-error] {
  &:after {
    content: "* " attr(data-error);
    display: block;
    margin-top: 5px;
    position: relative;
    color: rgba($gray, 0.75);
    font-size: 0.8em;
  }
}
.field__label {
  display: block;
  margin-bottom: 5px;
  color: $blue;
  font-size: 1.1em;
  font-weight: 500;
}
.field__input {
  height: 40px;
  padding-left: 8px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.8em;
  letter-spacing: 1px;
  &::-webkit-input-placeholder { text-transform: uppercase; }
  &::-moz-placeholder { text-transform: uppercase; }
  &:-moz-placeholder { text-transform: uppercase; }
  &:-ms-input-placeholder { text-transform: uppercase; }
}
.field__input.input--textarea {
  max-width: 100%;
  min-height: 120px;
  padding: 8px;
}

.contact-form__response {
  display: inline-block;
  margin: 0 auto;
  padding-top: 80px;
  font-family: $serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.35em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
