.floorplansTable {
  padding: 0 25px;
}
.floorplansTable--options {
  height: 80px;
  width: 100%;
  font-size: 0;
  margin: 7px 0;
}
.floorplansTable--option {
  display: inline-block;
  height: 100%;
  padding: 0 7px;
  width: calc(100%/3);
  font-size: 1rem;
  input {
    display: none;
  }
  span {
    @extend %valign-text;
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    &:hover, &.is-active {
      color: $white;
      background: $blue;
    }
  }
  &:first-of-type {
    padding-left: 0;
  }
  &:nth-of-type(2) {
    border: 1px solid $gray;
    border-top: none;
    border-bottom: none;
  }
  &:last-of-type {
    padding-right: 0;
  }
}

.floorplans--table {}

.table {
  margin-bottom: 10px;
  padding-bottom: 8px;
  border: 1px solid $gray;
  border-left: none;
  border-right: none;
}
.table--row {
  height: auto;
  position: relative;
  width: 100%;
  font-size: 0;
}
.table--row.row_head {
  border-bottom: 1px solid $gray;
}
.table--row.row_body {
  cursor: pointer;
  &:hover {
    background-color: $blue;
    color: $white;
    &:before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;right: 100%;
      width: 8px;
      background-color: $blue;
    }
  }
}
.table--cell {
  display: inline-block;
  padding: 6px 8px;
  text-transform: uppercase;
  &:first-of-type {
    padding-left: 0;
  }
}
.table--cell.cell_head {
  font-size: 1.15rem;
  font-weight: 600;
}
.table--cell.cell_body {
  font-size: 0.9rem;
  font-weight: 500;
}
.column {
  border-right: 1px solid $gray;
  &:last-of-type { border-right: none; }
}
.col-1 {
  width: calc(((100% - ((100%/4)*0.7))/3);
}
.col-2 {
  width: calc(((100% - ((100%/4)*0.7))/3);
}
.col-3 {
  width: calc(((100% - ((100%/4)*0.7))/3);
}
.col-4 {
  width: calc((100%/4)*0.7);
}


