.floorplansTable {
  padding: 0 25px;
}
.floorplansTable--options {
  height: 80px;
  width: 100%;
  font-size: 0;
  margin: 7px 0;
}
.floorplansTable--option {
  display: inline-block;
  height: 100%;
  padding: 0 7px;
  width: calc(100%/3);
  font-size: 1rem;
  input {
    display: none;
  }
  span {
    @extend %valign-text;
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    text-transform: uppercase;
    &:hover, &.is-active {
      color: $white;
      background: $blue;
    }
  }
  &:first-of-type {
    padding-left: 0;
  }
  &:nth-of-type(2) {
    border: 1px solid $gray;
    border-top: none;
    border-bottom: none;
  }
  &:last-of-type {
    padding-right: 0;
  }
}
