.floorplansTable {
  padding: 0 25px;
  margin-bottom: 200px;
}
.floorplansTable--options {
  height: 80px;
  width: 100%;
  font-size: 0;
  margin: 7px 0;
}
.floorplansTable--option {
  display: inline-block;
  height: 100%;
  padding: 0 7px;
  width: calc(100%/3);
  font-size: 1rem;
  input {
    display: none;
  }
  span {
    @extend %valign-text;
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    text-transform: uppercase;
    &:hover, &.is-active {
      color: $white;
      background: $blue;
    }
  }
  &:first-of-type {
    padding-left: 0;
  }
  &:nth-of-type(2) {
    border: 1px solid $gray;
    border-top: none;
    border-bottom: none;
  }
  &:last-of-type {
    padding-right: 0;
  }
}

.floorplans--table {}

.table {
  padding-bottom: 10px;
  border: 1px solid $gray;
  border-left: none;
  border-right: none;
}
.table--head {}
.table--row {
  width: 100%;
  font-style: 0;
  & > * {
    font-size: 1rem;
  }
}
.table--header {
  display: inline-block;
}
.table--cell{
  display: inline-block;
}

.column {
  border-right: 1px solid $gray;
}
.col-1 {
  width: calc(((100% - ((100%/4)*0.6))/3);
}
.col-2 {
  width: calc(((100% - ((100%/4)*0.6))/3);
}
.col-3 {
  width: calc(((100% - ((100%/4)*0.6))/3);
}
.col-4 {
  width: calc((100%/4)*0.6);
}
