.neighborhood-map {
  @extend %valign-content;
  display: block;
  position: relative;
  width: 100%;
  @media (min-width: 700px) {
    height: 60vh;
    max-height: 550px;
  }
}

.neighborhood-map__canvas {
  height: 60vh;
  max-height: 550px;
  position: relative;
  width: 100%;
  @media (min-width: 700px) {
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
  }
}

.neighborhood-map__interface {
  // @extend %valign-content;
  display: block;
  height: 100%;
  padding: 0 0;
  position: relative;
  width: 100%;
  z-index: 1;
  // background-image: url(../img/tile-bishops-b.gif);
  // background-size: 55px;
  background-color: rgba($gray, 1.0);
  background-repeat: repeat;
  @media (min-width: 700px) {
    display: inline-block;
    padding: 0 30px 0 0;
    width: auto;
  }
}

.neighborhood-map__options {
  height: 100%;
  padding: 0;
  padding-left: 0;

}

.neighborhood-map__option {
  @extend %valign-text;
  display: block;
  height: calc(100%/8) !important;
  padding: 6px 5px;
  padding-left: 25px;
  border-bottom: 1px solid rgba(#fff, 0.25);
  color: #ffffff;
  // font-size: 0;
  &.is-checked, &:hover {
    color: $blue;
  }
  &:last-child {
    border-bottom: none;
  }
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    background-color: red;
  }
  input { display: none; }
}

.neighborhood-map__option-text {
  color: inherit;
  font-size: 0.75em;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 15px;
  text-transform: uppercase;
  vertical-align: middle;
  input:checked + & {
    color: $blue;
  }
}

.neighborhood-map__option:before {
  $size: 25px;
  content: '';
  display: inline-block;
  height: $size;
  margin-right: 20px;
  position: relative;
  vertical-align: middle;
  width: $size;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#option-show_all:before { background-image: url('../img/icon-show_all.svg'); }
#option-restaurants_bars:before { background-image: url('../img/icon-restaurants.svg'); }
#option-entertainment:before { background-image: url('../img/icon-entertainment.svg'); }
#option-parks_recreation:before { background-image: url('../img/icon-recreation.svg'); }
#option-shopping:before { background-image: url('../img/icon-shopping.svg'); }
#option-salons:before { background-image: url('../img/icon-salons.svg'); }
#option-institutions:before { background-image: url('../img/icon-institutions.svg'); }
#option-groceries:before { background-image: url('../img/icon-groceries.svg'); }
#option-services:before { background-image: url('../img/icon-services.svg'); }

.iw {}
.iw__content {}
.iw__bottom {}
.iw__title {}
.iw__address {}
