<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
		<title>Bishops Place</title>
		<link rel="stylesheet" href="assets/css/index.css">
	</head>
	<body class="page">
    <div class="page--wrapper constrained">
      {% include 'structures/navbar.html' %}
      <main class="page--content" role="content">
        {% for section in ["about", "floor-plans", "amenities", "gallery", "neighborhood", "contact"] %}
          <section class="section" id="{{ section }}">
            <div class="section--wrapper">
              {% include section + ".html" %}
            </div>
          </section>
        {% endfor %}
      </main>
      {# include 'structures/footer.html' #}
    </div>
    <script type="text/javascript">
      window.__neighborhoodAttractions__ = [
        {% for attr in attractions %}
          {
            name: "{{ attr.name }}",
            address: "{{ attr.address }}",
            city: "{{ attr.city }}",
            state: "{{ attr.state }}",
            url: "{{ attr.url }}",
            categories: [{% for cat in attr.categories %}"{{cat}}"{{ "," if not loop.last }}{% endfor %}]
          }{% if not loop.last %},{% endif %}
        {% endfor %}
      ];
    </script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="assets/js/index.js"></script>
	</body>
</html>
