<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
    <title>Bishops Place</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png?">
     <link rel="stylesheet" href="assets/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
  </head>
	<body class="page">
    <div class="page--wrapper constrained">
      {% include 'structures/navbar.html' %}
      {% include 'structures/mobile-nav.html' %}
      <main class="page--content" role="content">
        {% for section in ["about", "floor-plans", "amenities", "gallery", "neighborhood", "contact"] %}
          <section class="section" id="{{ section }}">
            <div class="section--wrapper">
              {% include section + ".html" %}
            </div>
          </section>
        {% endfor %}
      </main>
    </div>
    {% include 'structures/footer.html' %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script>
    <script type="text/javascript">
      window.__neighborhoodAttractions__ = [
        {% for attr in attractions %}
          {
            position: {
              lat: {{ attr.lat }},
              lng: {{ attr.lng }}
            },
            name: "{{ attr.name }}",
            address: "{{ attr.address }}",
            city: "{{ attr.city }}",
            state: "{{ attr.state }}",
            url: "{{ attr.url }}",
          {% if attr.zIndex %}zIndex: {{ attr.zIndex }}, {% endif %}
            categories: [{% for cat in attr.categories %}"{{cat}}"{{ "," if not loop.last }}{% endfor %}],
            icon: {
              url: 'assets/img/map/marker-{{ attr.categories[0] | filename }}.png',
              size: new google.maps.Size(41, 45),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(0, 0)
            },
            content: '<div class="iw">' +
                        '<div class="iw__content">' +
                          '<h2 class="iw__title"><a href="{{ attr.url }}">{{ attr.name | escape }}</a></h2>' +
                          '<address class="iw__address">' +
                            '<p>{{ attr.address }}</p>' +
                            '<p>{{ attr.city }} {{ attr.state }}</p>' +
                          '</address>' +
                        '</div>' +
                        '<div class="iw__bottom"></div>' +
                      '</div>'
          }{% if not loop.last %},{% endif %}
        {% endfor %}
      ];
    </script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="assets/js/index.js"></script>
	</body>
</html>
