<footer id="footer" class="page-footer">
      <h3 class="page-footer__heading">Leasing Office</h3>
      <address>
         <ul class="page-footer__contact">
            <li class="page-footer__list-heading">Address</li>
            <li>2432 Albany Avenue</li>
            <li>West Hartford, CT 06117</li>
         </ul>
         <ul class="page-footer__address">
            <li class="page-footer__list-heading">Contact</li>
            <li><a href="tel:+18605195540">860.519.5540</a></li> 
            <li><a href="mailto:contact@liveatbishopsplace.com">contact@liveatbishopsplace.com</a></li>
         </ul>
      </address>
      <span class="page-footer__attribution">
          <span class="page-footer__legal">&#169; 2432 Albany Avenue LLC. All rights reserved.</span>
          <a href="http://www.primarydesign.com">Website by Primary</a> 
          <img class="page-footer__eho" src="assets/img/icon-equal-housing.svg" alt="Equal Housing Opportunity">
      </span>
      
</footer>