<footer id="footer" class="page-footer">
      <h3 class="page-footer__heading">Bishops Place Apartments</h3>
      <address>
         <ul class="page-footer__contact">
            <li>2432 Albany Ave. / West Hartford, CT 06117</li>
            <li><a href="mailto:contact@liveatbishopsplace.com">contact<small>@</small>liveatbishopsplace.com</a></li>
            <li><a href="tel:+18605195540">860.519.5540</a></li>
         </ul>
      </address>
      <span class="page-footer__legal">&#169; 2432 Albany Avenue LLC. All rights reserved.</span>
      <img class="page-footer__eho" src="assets/img/icon-equal-housing.svg" alt="Equal Housing Opportunity">
      <span class="page-footer__attribution"><a href="http://www.primarydesign.com">Website by Primary</a></span>
</footer>