<div class="navbar--mobile"><img class="hamburger-icon" id="showLeft" src="assets/img/hamburger-icon.svg">
    <div class="mobile-nav--logo"></div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <a class="mobile-nav--link" data-scry="#about-header">About</a>
      <a class="mobile-nav--link" data-scry="#floorplans-header">Floor Plans</a>
      <a class="mobile-nav--link" data-scry="#amenities-header">Amenities</a>
      <a class="mobile-nav--link" data-scry="#gallery-header">Gallery</a>
      <a class="mobile-nav--link" data-scry="#neighborhood-header">Neighborhood</a>
      <a class="mobile-nav--link" data-scry="#contact">Contact</a>
    </nav>
</div>
