<nav class="navbar">
	<ul class="navbar--nav nav_top">
		<li class="nav--item">
			<a class="nav--link" data-scry="#about">About</a>
		</li>
		<li class="nav--item">
			<a class="nav--link" data-scry="#floor_plans">Floor Plans</a>
		</li>
		<li class="nav--item">
			<a class="nav--link" data-scry="#amenities">Amenities</a>
		</li>
		<li class="nav--item navbar--brand">
			<div class="brand--img"></div>
		</li>
		<li class="nav--item">
			<a class="nav--link" data-scry="#gallery">Gallery</a>
		</li>
		<li class="nav--item">
			<a class="nav--link" data-scry="#neighborhood">Neighborhood</a>
		</li>
		<li class="nav--item">
			<a class="nav--link" data-scry="#contact">Contact</a>
		</li>
	</ul>
</nav>